.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
node_modules/**

# Ensure the 'out' folder is included
!out/**

# If you specifically want to exclude dev-only files inside 'out'
out/**/*.map